@use "@angular/material" as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

body {
  @include mat.all-component-themes($theme);
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;
  background-color: #f0f4f8;
}

html {
  height: 100%;
}

.page-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
