<div class="page-container">
  <!-- @if (loading) {
  <div class="loading-container">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Loading shared graph...</p>
  </div>
  } -->
  @if (error) {
  <div class="error-container">
    <p>{{ error }}</p>
  </div>
  } @else if (graph) {
  <mat-card class="graph-card">
    <mat-card-header>
      <mat-card-title>{{ graph.bookName }}</mat-card-title>
      <mat-card-subtitle>{{ graph.authorName }}</mat-card-subtitle>
      <mat-card-subtitle>{{ graph.emojis }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [innerHTML]="graph.svgGraph"></div>
      <div class="syntax-header">
        <div class="syntax-header-buttons">
          <button
            mat-raised-button
            color="primary"
            (click)="toggleMermaidSyntax()"
          >
            <mat-icon
              >{{ isMermaidSyntaxVisible ? 'visibility_off' : 'visibility'
              }}</mat-icon
            >
            {{ isMermaidSyntaxVisible ? 'Hide' : 'Show' }} Mermaid Syntax
          </button>
          @if (isMermaidSyntaxVisible) {
          <button
            mat-raised-button
            color="accent"
            (click)="copyMermaidSyntax()"
          >
            <mat-icon>content_copy</mat-icon>
            Copy Syntax
          </button>
          }
          <button mat-raised-button color="primary" (click)="copyUrl()">
            <mat-icon>link</mat-icon>
            Copy URL
          </button>
          <button mat-raised-button [matMenuTriggerFor]="downloadMenu">
            <mat-icon>download</mat-icon>
            Download
          </button>
        </div>
        <mat-menu #downloadMenu="matMenu">
          <button mat-menu-item (click)="downloadSvg()">
            <mat-icon>image</mat-icon>
            SVG
          </button>
          <button mat-menu-item (click)="downloadPng()">
            <mat-icon>image</mat-icon>
            PNG
          </button>
        </mat-menu>
        @if (isMermaidSyntaxVisible) {
        <pre><code>{{ graph.mermaidSyntax }}</code></pre>
        }
      </div>
    </mat-card-content>
  </mat-card>
  }
</div>
